<div class="row">
    <div class="col-12">
        <input type="text" name="anyhting" [(ngModel)]="anything" class="form-control">
        <h3>{{itemFromChild}}</h3>
        <img src="assets/images/BKG OUTSIDE.jpg" width="100px" height="100px" alt="" srcset="">
        <table class="table table-dark table-striped">
            <tr>
                <th>S/N</th>
                <th>Items</th>
                <th>Price</th>
                <th>Action</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let i = index; let item of objFromChild">
                <td>{{i + 1}}</td>
                <td>{{item.goods}}</td>
                <td>{{item.price | currency: 'NGN' : 'symbol-narrow'}}</td>
                <td><button (click)="delItem(i)" class="btn btn-danger"><i class="fa fa-trash fa-lg"></i></button></td>
                <td><button (click)="passItem(i)" class="btn btn-info"><i class="fa fa-thumbs-up fa-lg"></i></button></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-child [schoolName]="anything" (addItemEvent)="addItem($event)" (addGoodsEvent)="myObj($event)" [passedObj]="objGoingToChild"></app-child>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-sibling-one></app-sibling-one>
    </div>
    <div class="col-6">
        <app-sibling-two></app-sibling-two>
    </div>
</div>
