<div class="container-fluid">
  <div class="row bg-danger p-3">
  <h5 class="mr-5 text-white" routerLink="/home" routerLinkActive="active" style="cursor: pointer;">Home</h5>
    <h5 class="mr-5 text-white" routerLink="/list" routerLinkActive="active" style="cursor: pointer;">View Student</h5>
    <h5 class="mr-5 text-white" routerLink="/signin" routerLinkActive="active" style="cursor: pointer;">Sign In</h5>
    <h5 class="mr-5 text-white" routerLink="/pipe" routerLinkActive="active" style="cursor: pointer;">Pipe Class</h5>
  </div>
  <div class="container bg-light p-2">
    <router-outlet></router-outlet>
      </div>
</div>