<mat-slider></mat-slider>
<button mat-raised-button color="primary">Basic Button</button>
<br><br>
<button mat-fab color="warn" class="mt-2">
    <mat-icon>delete</mat-icon>
</button>
<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>Profile</ng-template>
        STEP1
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Personal Info</ng-template>
        STEP2
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Contact Info</ng-template>
        STEP3
    </mat-step>
</mat-horizontal-stepper>
